.aboutMe{
    width: 100%;
    height: 100vh;
    background: url('../../public/images/aboutme-back.svg');
    object-fit: cover;
    background-size: cover;
}

.aboutMe .head{
    align-items: center;
    height: 15vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.aboutMe .head h1{
    width: 100%;
    margin-top: 50%;
    /* align-items: center; */
    text-align: center;
    
    /* display: flex; */
    color: #FF7800;
}

.aboutMe .head hr{
    /* align-self: center;  */
    border-radius: 0%;
    background-color: #FF7800;
    height: 2px;
    width: 200px;
    color: #FF7800;
}

.aboutMe .lowerAbout{
    height: 85vh;
    display: flex;
    flex-direction: row;
}



.aboutMe .lowerAbout .centerPart{
    margin-top: 120px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    width: 70%;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px;
}

.aboutMe .lowerAbout .centerPart .text{
    width: 100%;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.aboutMe .lowerAbout .centerPart .text .tech{
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    justify-content: row;
    font-size: 18px;
}

.aboutMe .lowerAbout .centerPart .text span{
    color: #FF7800;
    font-weight: bold;
    cursor: pointer;
}

.aboutMe .lowerAbout .centerPart .text .tech ul{
    margin-right: 50px;
}


.aboutMe .lowerAbout .centerPart .text .touch{
    padding: 10px;
    margin-top: 50px;
    width: 120px;
    box-sizing: 2px;
    border: 3px solid #FF7800;
    cursor: pointer;
    border-radius: 5px;
    color: #FF7800;
    font-weight: bold;
}

.aboutMe .lowerAbout .centerPart .text .touch:hover{
    border: 3px solid #FF7800;

    background-color: #ff770033;
    transition: 0.3s ease-in;
    
}


.aboutMe .lowerAbout .centerPart .aboutMeImage{
    object-fit: cover;
    border-radius: 5px;
    border-color: black;
    width: 250px;
    height: 300px;
}


.aboutMe .lowerAbout .centerPart .aboutMeImage img{
    width: 100%;
    height: 100%;   
    box-shadow: 5px 5px 8px 1px #924400;
    border-radius: 8px;
}

 
.aboutMe .rightPart{
    margin-right:40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 50px;
} 

.aboutMe .rightPart i{
    color: #FF7800;
    
}

.aboutMe .rightPart i:hover{
    color: #924400;
    transition: 00.3s ease-in;
}

@media screen  and (max-width:900px){
    .rightPart i{
        display: none;
    }
    .aboutMe{
        display: flex;
        flex-direction: column;
    }
    .aboutMe .head{
        height: 7vh;
    }

    .aboutMe .head h1{
        margin-top: 2px;
    }
    .aboutMe .lowerAbout{
        width: 100%;
        height: 93vh;
        justify-content: center;
        align-self: center;
        align-items:center ;
    }
    .aboutMe .lowerAbout .centerPart{
        display: block;
        grid-gap: 0px;
        width: 90%;
        margin:0px;
    
        align-self: center;
    }
    .aboutMe .lowerAbout .centerPart .text .touch{
        border: 3px solid #f7f7f7;
        color:#f7f7f7 ;
    }
    .aboutMe .lowerAbout .centerPart .aboutMeImage{
        display: none;
    }
    .aboutMe .lowerAbout .rightPart{
        display: none;
    }

}