a{
    text-decoration: none;
}
.footer{
    height: 20vh;
    width: 100%;
    background: #f7f7f7;
    background-image: url('../../public/images/footer.svg');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: center;
    align-items:center ;
    color: #f7f7f7;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-weight: 300;
    text-decoration: none;
}

.footer p:nth-child(1){
    padding: 10px;
    cursor: pointer;
   
}

.footer p a{
    text-decoration: none;
    color: inherit;
}
