a{
    text-decoration: none;
}
.myWork{
    width: 100%;
    height: 100vh;
}


.myWork .head{
    align-items: center;
    height: 15vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.myWork .head h1{
    margin-top: 2rem;
    width: 100%;
   
    text-align: center;
    
    
    color: #FF7800;
}

.myWork .head hr{
    border-radius: 0%;
    background-color: #FF7800;
    height: 2px;
    width: 300px;
    color: #FF7800;
}

.myWork .mainWork{
    margin-left:150px ;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    
}

.card {
    position: relative;
    width: 20rem;
    height: 25rem;
    background-size: cover;
    background-color: #FF7800;
    /* background-image: url('../../public/images/aboutme-back.svg'); */
    border-radius: 20px;
    background-position: center center;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.card img{
    width: 100%;
    height: 100%;
    background-position:center center;
    object-fit: cover;
    background-size: cover !important;
    opacity:0.8;
}
 
        /* Assigning properties to inner
            content of card  */
.card__inner {
    background-color: #FF7800;
    color: #fff;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    opacity: 0;
    padding: 2rem 1.3rem 2rem 2rem;
    transition: all 0.4s ease 0s;
}
 
        /* On hovering card opacity of
            content must be 1*/
.card:hover .card__inner {
    opacity: 1;
}
 
        /* General property for heading
            and paragraph*/
.card__inner h2 {
    margin-top: 0.5rem;
}
 
.card__inner p {
    overflow: hidden;
    height: 80%;
    padding-right: 1rem;
    margin-top: 1rem;
}

.card__inner i{
    margin-left: 80%;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}


.card__inner i:hover{
    color: #ffd2b9;
    transition: 0.3ms ease-in-out;
}


.otherWork {
    height: 200px;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    text-decoration: none;

}

.otherWork p{
    align-self: center;
    padding: 10px;
    margin-top: 50px;
    width: 120px;
    box-sizing: 2px;
    border: 3px solid #FF7800;
    cursor: pointer;
    border-radius: 5px;
    color: #FF7800;
    font-weight: bold;
    text-decoration: none;
}


.otherWork p:hover{
    border: 3px solid #FF7800;

    background-color: #ff770033;
    transition: 0.3s ease-in;
}


@media screen and (max-width:900px){
    .myWork{
        height: auto;
    }
    .myWork .head{
        height: 10vh;
    }
    .myWork .head h1{
        margin: 0;
    }
    .myWork .mainWork{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-self: center;
        align-content: center;
        align-items:center ;
    }

    .card{
        margin: 2rem;
        height: 23rem;
    }
}